body {
  margin: 0;
  font-family: "Poppins", sans-serif;

}

code {
  font-family: "Poppins", sans-serif;
}
nav {
  font-family: "Poppins", sans-serif;
}



/* main front section  */
.Main_section {
  background-image: url("./assets/Images/header_img.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
}

/* 
  Counter section  */
.counter {
  background-image: url("./assets/Images/counter.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
}

/* Pricing section  */
.Ul-danger li {
  list-style-image: url("./assets/Images/checkmark_red.png");
  margin-top: 1rem;
}
.Ul-primary li {
  list-style-image: url("./assets/Images/checkmark_blue.png");
  margin-top: 1rem;
}
.Ul-success li {
  list-style-image: url("./assets/Images/checkmark_green.png");
  margin-top: 1rem;
}
.card li {
  font-size: larger;
}
/* package-include  section  */
.bg-includes {
  background-image: url("./assets/Images/package_bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

/* features  */
.features-list {
  list-style: none;
  line-height: 4.1rem;
}
.features-list li {
  padding-left: 2rem;
  color: #323232;
}
/* getvalue section  css  */
.add_value li {
  font-size: larger;
  font-weight: bold;
}
.sec_Value li {
  display: inline;
}

.Get-Value p {
  color: black;
  margin: 1rem 0 1rem 0;
  font-size: large;
}
.security-list {
  display: inline-block;
}
.security-list li {
  display: inline-block;
}
/* Features section  */
.Management {
  background-image: url("./assets/Images/features_bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 85vh;
  background-position: center; /* Center the image */
}
.corner-radius {
  border-radius: 25px;
}
.Button-radius {
  border-radius: 8px;
}
.Bottom-radius {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.Top-radius {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.quote {
}
a:link {
  text-decoration: none;
}
